@btn-light-color:#ffffff;

.button{
  display:-webkit-inline-flex;
  display:-ms-inline-flex;
  display: inline-flex;
  align-items: center;
  width: 196px;
  height: 56px;
  opacity: 0.93;
  color: @btn-light-color;
  background-image: url("../img/bg_btn.png");
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 24.27px;
  text-transform: uppercase;
}

.button:hover{
  // color: ;
  // background: ;
}
