
@media screen and (max-width:1440px){
	div.section-heading-content{
		padding-top: 38px !important;
	}
	.section-main{
	  .section-foreground{
	    min-height: 500px;
	   }
	}
	.section-discography{
		.section-foreground{
	    min-height: 1500px;
		    .section-body-content-part{
		    	padding-top: 70px;
		    }
	    }
	}
	.section-concert-tours{
		.section-foreground{
			min-height: 1215px;
			.section-body-content{
				padding-top: 100px;
			}
			.section-body-content{
				padding-top: 40px;
			}
		}
	}

	.section-upcoming-events{
		.section-foreground{
			min-height: 1003px;
			.container{
				width:50%;
			}
		}
	}
	.section-history{
		.container{
			width: 1224px;
		}
	}
	.footer{
		.section-foreground{
			min-height: 715px;
		
			.container{
				width: 615px;
			}
		}
	}
}


@media screen and (max-width:1024px){
  .container{
    padding: 0 15px;
  }

}

@media screen and (max-width:768px){

}


@media screen and (max-width:420px){

}
